*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

/*** VARIABLES & THEMES ***/

:root {
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: "Archivo", sans-serif;
  --character-top-image-src: url("../assets/images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../assets/images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../assets/images/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}

.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../assets/images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../assets/images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../assets/images/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

body {
  font-family: "Libre Baskerville", serif;
}

.header {
  background-color: var(--header-background-color);
  display: flex;
  justify-content: center;
  min-height: 970px;
  text-align: center;
  position: relative;

  &::before {
    background-image: url("../assets/images/backgrounds/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__content {
    max-width: 800px;
    padding: 80px 20px;
    z-index: 2;
  }

  &__logo {
    width: 100%;
    max-width: 630px;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 50px;
  }

  &__btn {
    border: 3px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.25rem;
    font-family: var(--featured-font-family);
    padding: 16px 32px;
    text-transform: uppercase;
    transition: background-color 1s;
    font-weight: 900;

    &:hover {
      background-color: var(--primary-color);
      color: var(--primary-color-contrast);
    }
  }
}

.world-characters {
  max-width: 900px;
  position: absolute;
  width: 100%;

  &--top {
    background-color: var(--character-top-image-color);
    bottom: -3px;
    height: 100%;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
    mask: var(--character-top-image-src) bottom / 100% no-repeat;
  }

  &--bottom {
    background-color: var(--character-bottom-image-color);
    bottom: -3px;
    height: 500px;
    -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
    mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
    position: relative;
    transform: rotateZ(180deg) scaleX(-1);
    top: 3px;
  }
}